<h1><%= @actor.name %></h1>
<%= image_tag attachment_url(@actor, :image, :fill, 300, 300) %>
<%= simple_format @actor.description %>

<%= render partial: "comments/comments", locals: {commentable: @actor} %>
<%= render partial: "comments/form", locals: {commentable: @actor} %>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
