<p id="notice"><%= notice %></p>

<h1>Listing Films</h1>

<table class="table">
  <thead>
    <tr>
      <th>Image </th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= link_to image_tag(attachment_url(film, :image, :fill, 250, 150)), film %></td>
        <td><%= link_to film.title, film %></td>
        <td><%= link_to 'Edit', edit_film_path(film) %> | <%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Film', new_film_path %>
