<h1><%= @film.title %></h1>
<%= image_tag attachment_url(@film, :image, :fill, 300, 300) %>
<%= simple_format @film.description %>

<%= render partial: "comments/comments", locals: {commentable: @film} %>
<%= render partial: "comments/form", locals: {commentable: @film} %>

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
